.name{
font-family: Arial;
}

.speech{
    font-size:medium; 
    font-family:serif;
    color: black;
}
.direction{
    font-size:smaller;
    font-family: Verdana;
    color: black;
    background-color:lightsteelblue;
}
.direction:hover{
    background-color:lightyellow;
    color: darkgoldenrod;
}
.OLGA{
    color: limegreen;
}
.IRINA{
    color: brown;
}
.CHEBUTIKIN{
    color: blue;
}
.TUZENBACH{
    color: aqua;
}
.SOLENI{
    color: hotpink;
}
.TUZENBACH:hover{
    text-shadow:2px 3px 5px green;
    text-align:left;
    border:4px solid yellow;
    filter:blur(5px);
}
table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid blue;
    margin: 2px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border: 2px solid blue;
  }
  
  tr:nth-child(even)
   {
    background-color:aqua;
 }

 .bottom-navbar {
    background-color: darkorange;
    align-items: center;
    color: white;
    text-align: center;
    padding: 2px;
    bottom: 0;
    width: 100%;
    display: flex;
   
    }
   
    .bottom-navbar a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 12px ;
    color: black;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    }
   
    .bottom-navbar i {
    font-size: 10px;
    margin-bottom: 18px;
    }
    
   
    .bottom-navbar a:hover {
    color: white;
    }
   
    .fa {
    padding-top: 3%;
    }
   
