.name{
font-family: Arial;
}

.speech{
    font-size:medium; 
    font-family:serif;
    color: black;
}
.direction{
    font-size:smaller;
    font-family: Verdana;
    color: black;
    background-color:lightsteelblue;
}
.direction:hover{
    background-color:lightyellow;
    color: darkgoldenrod;
}
.OLGA{
    color: limegreen;
}
.IRINA{
    color: brown;
}
.CHEBUTIKIN{
    color: blue;
}
.TUZENBACH{
    color: aqua;
}
.SOLENI{
    color: hotpink;
}
table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid blue;
    margin: 2px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border: 2px solid blue;
  }
  
  tr:nth-child(even)
   {
    background-color:aqua;
 }